<section class="container">
  <div class="row justify-content-center">
    <h1>Editing Org</h1> <br>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 text-center mb-2">
      <%= render "form", org: @org %>
    </div>
  </div>
</section>

<%= link_to "Show", @org %> |
<%= link_to "Back", orgs_path %>
