<%= javascript_pack_tag("autocomplete.js") %>

<section class="container">
  <div class="row mb-3">
    <div class="col text-center">
      <h1>Search</h1>
    </div>
  </div>

  <%= render "searchbar" %>
</section>

<%= render "results" %>



