<p id="notice"><%= notice %></p>
<section class="container">

  <div class="row mb-3">
    <div class="col text-center">
      <h1>Orgs</h1>
    </div>
  </div>

  <%= render "searchbar" %>
  <%= render "results" %>
</section>



